/* for all */
*{
    margin:0;
    padding:0;
    line-height: 1;
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
}
/* wrap */
.wrap{
    max-width:1280px; /* for responsive UI */
    margin: 0 auto; /* center align */
}
/* font */
.h1{
    font-size:38px;
    font-weight:bold;
}
.h2{
    font-size:34px;
    font-weight:bold;
}
.h3{
    font-size:32px;
    font-weight:bold;
}
.h4{
    font-size:28px;
    font-weight:bold;
}
.h5{
    font-size:21px;
    font-weight:bold;
}
.h6{
    font-size:18px;
    font-weight:bold;
}
.p{
    font-size:15px;
}