<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국외대 이중전공 모의지원 서비스</title>
    
    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>
    
    <!-- css -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/Landing/intro.css">
    <link rel="stylesheet" href="/static/css/Landing/intro_res.css">

    <!-- js -->
    <script src="/static/js/landing.js" async></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <!-- intro -->
    <section id="intro">
        <div class="wrap">
            
            <!-- left -->
            <div class="left">
                <h3 id="title_1">HUFS</h3>
                <h3 id="title_2">Apply</h3>
                <h4 id="title_3">한국외대 이중전공</h4>
                <h4 id="title_4">모의지원 서비스</h4>
                <p>©2022 kurooru all rights reserved.</p>
            </div>

            <!-- right -->
            <div class="right">
                <h3>현재 "{{ total }}" 명이 서비스를 이용중입니다.</h3>
                
                <form action="/" method="post">
                    <p><input type="text" name="mail" placeholder="ex) kurooru@hufs.ac.kr"></p>
                    <p><input type="password" name="password" placeholder="Password"></p>
                    <p><input type="submit" value="로그인"></p>
                </form>
                
                <form action="/signin">
                    <p><input type="submit" value="회원가입"></p>
                </form>
                <!-- for responsive -->
                <p>©2022 kurooru all rights reserved.</p>
            </div>

        </div>
    </section>
    
    <!-- 서버로부터 받은 메세지 -->
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">alert("{{messages[0]}}");</script>
        {%endif%}
    {%endwith%}

</body>
</html>