<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국외대 이중전공 모의지원 서비스</title>

    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/Show/main.css">

</head>
<body>
    <section id="main">
        <div class="wrap">
            
            <div class="hello">
                <h3>{{ name }}님,</h3>
                <h3>안녕하세요!</h3>
            </div>

            <div class="result">
                <h3>{{ name }}님은 현재,</h3>
                <h3>"{{ major }}"에</h3>
                <h3>모의지원중이며,</h3>
                <h3>총{{ sum }}명 중, {{ rank }}등 입니다.</h3>
                <form action="/apply">
                    <p><input type="submit" value="지원학과 변경하기"></p>
                </form>
                <form action="/logout">
                    <p><input type="submit" value="로그아웃"></p>
                </form>
            </div> 

        </div>
    </section>
    
    <!-- 서버로부터 받은 메세지 -->
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">alert("{{messages[0]}}");</script>
        {%endif%}
    {%endwith%}
    
</body>
</html>