<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/Signin/info.css">
    <link rel="stylesheet" href="/static/css/Signin/info_res.css">

    <!-- js -->
    <link rel="stylesheet" href="/static/js/signin.js">

</head>
<body>
    <!-- info -->
    <section id="info">
        <div class="wrap">
            <h3>회원가입</h3>
            <form action="/signin" method="post">
                <p>ID(학교메일) : <input type="text" name="new_mail" placeholder="ex) kurooru@hufs.ac.kr"></p>
                <p>이름 : <input type="text" name="new_name" placeholder="ex) 홍길동"></p>
                <p>비밀번호 : <input type="password" name="new_password" placeholder="비밀번호"></p>
                <p>비밀번호 확인 : <input type="password" name="check_password" placeholder="비밀번호 확인"></p>
                <p>GPA : <input type="text" name="new_GPA" placeholder="ex) 3.81"></p>
                <p>* 1학년 2학기에 재학중인 경우, 1학년 1학기까지 확정된 GPA를 적어주시기 바랍니다.</p>
                <p>* 첫 모의지원을 완료하는 즉시 kurooru@hufs.ac.kr 으로 성적, 본인 인증 메일을 보내 주시기 바랍니다.</p>
                <a href="/static/images/confirm_example.jpeg" download>클릭하여 인증 메일 첨부파일 예시 다운받기</a>
                <p><input type="submit" value="등록하기"></p>
            </form>
        </div>
    </section>
    
    <!-- 서버로부터 받은 메세지 -->
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">alert("{{messages[0]}}");</script>
        {%endif%}
    {%endwith%}
    
</body>
</html>