<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>

    <!-- font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
    </style>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/Signin/info.css">
    <link rel="stylesheet" href="/static/css/Signin/info_res.css">

    <!-- js -->
    <script src="/static/js/signin.js" async></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <!-- info -->
    <section id="info">
        <div class="wrap">
            <h3>회원가입</h3>
            <form action="/signin" method="post">
                <p>ID(학교메일) : <input type="text" name="new_mail" placeholder="ex) kurooru@hufs.ac.kr"></p>
                <p>이름 : <input type="text" name="new_name" placeholder="ex) 홍길동"></p>
                <p>비밀번호 : <input type="password" name="new_password" placeholder="비밀번호"></p>
                <p>비밀번호 확인 : <input type="password" name="check_password" placeholder="비밀번호 확인"></p>
                <p>GPA : <input type="text" name="new_GPA" placeholder="ex) 3.81"></p>
                <p id="info_1">* 1학년 2학기에 재학중인 경우, 1학년 1학기까지 확정된 GPA를 적어주시기 바랍니다.</p>
                <p id="info_2">* 회원가입을 완료하는 즉시 kurooru@hufs.ac.kr 으로 성적, 본인 인증 메일을 보내 주시기 바랍니다.</p>
                <a href="/static/images/confirm_example.jpeg" download>클릭하여 인증 메일 첨부파일 예시 다운받기</a>
                <p><input type="submit" value="등록하기"></p>
            </form>
        </div>
    </section>
    
    <!-- 서버로부터 받은 메세지 -->
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">alert("{{messages[0]}}");</script>
        {%endif%}
    {%endwith%}
    
</body>
</html>