@media screen and (max-width:768px){ /* for typical smartphone */
    #main{
        
    }
    #main .wrap{
        
    }
    #main .wrap .hello{
        display:none;
    }
    #main .wrap .hello h3{
        font-size: 20px;
    }
    #main .wrap .result{
        width:100% !important;
    }
    #main .wrap .result h3{
        
    }
    #main .wrap .result form{
        
    }
    #main .wrap .result form p{
        
    }
    #main .wrap .result form p input{
        width:80% !important;
    }
}