@media screen and (max-width:768px){ /* for typical smartphone */
    #info{
        
    }
    #info .wrap{
        height: 700px;
    }
    #info .wrap h3{

    }
    #info .wrap form{
        width:100%;
    }
    #info .wrap form p{
        font-size: 15px;
    }
    #info .wrap form p:nth-child(6){
        font-size:10px;
    }
    #info .wrap form p:nth-child(7){
        font-size:10px;
    }
    #info .wrap form p input{
        width:60%;
        font-size: 15px;
    }
    #info .wrap form a{
        font-size:15px;
    }
}