#info{
    
}
#info .wrap{
    /* 정가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* 높이 */
    height: 900px;
    /* 배경색 */
    background-color: #000;
}
#info .wrap h3{
    color:#fff;
    font-size:40px;
    margin-bottom: 30px;
}
#info .wrap form{
    /* 너비 지정 */
    width:50%;
    text-align: right;
    margin:0 auto;
}
#info .wrap form p{
    font-size:24px;
    color:#fff;
}
#info .wrap form p:nth-child(1){
    margin-bottom: 30px;
}
#info .wrap form p:nth-child(2){
    margin-bottom: 30px;
}
#info .wrap form p:nth-child(3){
    margin-bottom: 30px;
}
#info .wrap form p:nth-child(4){
    margin-bottom: 30px;
}
#info .wrap form p:nth-child(5){
    margin-bottom: 30px;
}
#info .wrap form p:nth-child(6){
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color:red;
}
#info .wrap form p:nth-child(7){
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color:red;
}
#info .wrap form a{
    margin-top: 15px;
    display:block;
    margin-bottom: 30px;
    text-align: center;
    color:aqua;
    font-size: 18px;
}
#info .wrap form p:nth-child(9){
    text-align: center;
}
#info .wrap form p input{
    height: 50px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}
#info .wrap form p:nth-child(9) input{
    width:40%;
    font-size: 20px;
    height:40px;
    padding:0;
    background-color: #000;
    color: #fff;
    transition: all 0.7s;
}
#info .wrap form p:nth-child(9) input:hover{
    background-color:#fff;
    color:#000;
    cursor: pointer;
}